In [1]:
#dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train_data = pd.read_excel('Dataset.xlsx')

In [3]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

**dealing with missing data**

In [5]:
train_data.shape

(10683, 11)

In [6]:
train_data.isna().sum() #to check missing values in my data frame

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [7]:
train_data.dropna(inplace=True) #inplace= True, to modify my dataframe as well

In [8]:
train_data.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

**data cleaning**

In [10]:
train_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

1. *by changing the data types*

In [12]:
def change_into_datetime(col):
    train_data[col] =pd.to_datetime(train_data[col])

In [13]:
for i in ['Date_of_Journey','Dep_Time','Arrival_Time']:
    change_into_datetime(i)

C:\Users\Asus\AppData\Local\Temp\ipykernel_21136\2240060576.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  train_data[col] =pd.to_datetime(train_data[col])
C:\Users\Asus\AppData\Local\Temp\ipykernel_21136\2240060576.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data[col] =pd.to_datetime(train_data[col])
C:\Users\Asus\AppData\Local\Temp\ipykernel_21136\2240060576.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  train_data[col] =pd.to_datetime(train_data[col])

In [14]:
train_data.dtypes

Airline                    object
Date_of_Journey    datetime64[ns]
Source                     object
Destination                object
Route                      object
Dep_Time           datetime64[ns]
Arrival_Time       datetime64[ns]
Duration                   object
Total_Stops                object
Additional_Info            object
Price                       int64
dtype: object

2. *by making 'Date_of_Journey' column more understandable for my ml models*

In [16]:
train_data['Travel_year'] = train_data['Date_of_Journey'].dt.year
train_data['Travel_month'] = train_data['Date_of_Journey'].dt.month
train_data['Travel_day'] = train_data['Date_of_Journey'].dt.day

In [17]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Travel_year,Travel_month,Travel_day
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,2024-08-26 22:20:00,2024-03-22 01:10:00,2h 50m,non-stop,No info,3897,2019,3,24
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,2024-08-26 05:50:00,2024-08-26 13:15:00,7h 25m,2 stops,No info,7662,2019,5,1
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,2024-08-26 09:25:00,2024-06-10 04:25:00,19h,2 stops,No info,13882,2019,6,9
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,2024-08-26 18:05:00,2024-08-26 23:30:00,5h 25m,1 stop,No info,6218,2019,5,12
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,2024-08-26 16:50:00,2024-08-26 21:35:00,4h 45m,1 stop,No info,13302,2019,3,1

In [18]:
#dropping 'Date_of_Journey' column from by dataframe
train_data.drop('Date_of_Journey',axis=1,inplace=True)

In [19]:
train_data['Travel_year'].value_counts()

Travel_year
2019    10682
Name: count, dtype: int64

In [20]:
#so no need of 'Travel_year' colulmn as well
train_data.drop('Travel_year',axis=1,inplace=True)

In [21]:
train_data.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Travel_month,Travel_day
0,IndiGo,Banglore,New Delhi,BLR → DEL,2024-08-26 22:20:00,2024-03-22 01:10:00,2h 50m,non-stop,No info,3897,3,24
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2024-08-26 05:50:00,2024-08-26 13:15:00,7h 25m,2 stops,No info,7662,5,1
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2024-08-26 09:25:00,2024-06-10 04:25:00,19h,2 stops,No info,13882,6,9
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,2024-08-26 18:05:00,2024-08-26 23:30:00,5h 25m,1 stop,No info,6218,5,12
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,2024-08-26 16:50:00,2024-08-26 21:35:00,4h 45m,1 stop,No info,13302,3,1

*extract hour & minuites from Dep_Time & Arrive_Time by calling function*

In [23]:
#creating function
def extract_hour(df,col):
    df[col+'_hour'] = df[col].dt.month

def extract_min(df,col):
    df[col+'_min'] = df[col].dt.minute

def drop_column(df,col):
    df.drop(col,axis=1,inplace=True)

In [24]:
#calling those functions for Dep_Time column
extract_hour(train_data,'Dep_Time')
extract_min(train_data,'Dep_Time')
drop_column(train_data,'Dep_Time')

In [25]:
train_data.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Travel_month,Travel_day,Dep_Time_hour,Dep_Time_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2024-03-22 01:10:00,2h 50m,non-stop,No info,3897,3,24,8,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2024-08-26 13:15:00,7h 25m,2 stops,No info,7662,5,1,8,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2024-06-10 04:25:00,19h,2 stops,No info,13882,6,9,8,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,2024-08-26 23:30:00,5h 25m,1 stop,No info,6218,5,12,8,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,2024-08-26 21:35:00,4h 45m,1 stop,No info,13302,3,1,8,50

In [26]:
#calling those functions for Arrival_Time column
extract_hour(train_data,'Arrival_Time')
extract_min(train_data,'Arrival_Time')
drop_column(train_data,'Arrival_Time')

In [27]:
train_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Travel_month,Travel_day,Dep_Time_hour,Dep_Time_min,Arrival_Time_hour,Arrival_Time_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,3,24,8,20,3,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,5,1,8,50,8,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,6,9,8,25,6,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,5,12,8,5,8,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,3,1,8,50,8,35

*to make Duration column more ml model friendly*

In [29]:
'4h 45m'.split()

['4h', '45m']

In [30]:
#to keep a single format of Duration column : xh ym
duration = list(train_data['Duration'])
for i in range (len(duration)):
    if len(duration[i].split())!=2:
        if 'h' in duration[i]:
            duration[i] = duration[i] + '0m'
        else:
            duration[i] = '0h' + duration[i]

In [31]:
train_data['Duration'] = duration

In [32]:
train_data.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Travel_month,Travel_day,Dep_Time_hour,Dep_Time_min,Arrival_Time_hour,Arrival_Time_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,3,24,8,20,3,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,5,1,8,50,8,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h0m,2 stops,No info,13882,6,9,8,25,6,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,5,12,8,5,8,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,3,1,8,50,8,35